@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* custom properties */
:root {
  --darkCyan: hsl(185, 75%, 39%);
  --darkBlue: hsl(229, 23%, 23%);
  --grayBlue: hsl(227, 10%, 46%);
  --darkGray: hsl(0, 0%, 59%);
  --white: hsl(0, 0%, 100%);

  --bgImages: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  --cardShadow: 0 10px 20px 10px hsla(0, 0%, 0%, 0.1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  background-color: var(--darkCyan);
  background-image: url('../images/bg-pattern-top.svg'), url('../images/bg-pattern-bottom.svg');
  background-repeat: no-repeat;
  background-position: right 50vw bottom 20vh, left 45vw top 40vh ;
}

.card-container{
  margin: 170px auto 50px;
  width: 330px;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.bubbles{
  background: url('../images/bg-pattern-card.svg');
  height: 140px;
}
.photo{
  position: absolute;
  top: 87px;
  left: 35%;
  border: 5px solid white;
  border-radius: 50%;
  overflow: hidden;
  height: 96px;
}
.personal-data-container{
  background-color: white;
  height: 150px;
  padding: 75px;
  text-align: center;
}
.name{
  font-weight: 700;
  color: var(--darkBlue);
}
.age, .city{
  color: var(--darkGray);
}
.city{
  margin-top: 10px;
  font-size: 0.8em;
}
.stats-cantainer{
  background-color: white;
  border-top: 1px solid var(--darkGray);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}
.statistics{
  text-align: center;
}
.quantity{
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--darkBlue);
}
.units{
  font-size: 0.6em;
  color: var(--darkBlue);
  letter-spacing: 2px;
}


/* ---------------------------Footer-------------------- */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:1440px){
  .card-container{
    width: 350px;
  }
}